<h1>Emprestimo</h1>

<div class="row">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="fparcela">Parcelas:</label><br>
    <input class="form-control" type="number" min="1" id="fparcela" formControlName="parcelas" onkeypress="return event.charCode >= 48 && event.charCode <= 57"><br>
    <label for="lvalor">Valor:</label><br>
    <input class="form-control" type="number" id="valor" name="valor" formControlName="valorParcelas">
    <br />
    <br />
    <div>
      <input type="submit" class="btn btn-primary" value="Calcular">
    </div>
  </form>
</div>

<br />
<br />
<div>
  <p aria-live="polite">Retorno: <strong id="userinput">{{ valor | currency : 'BRL'}}</strong></p>
</div>
